* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
}

h2 {
  text-align: center;
  font-size: 36px;
  color: #1f2937;
}

h3 {
  color: #1f2937e5;
}

button {
  border: none;
  outline: none;
  background: #3882f6;
  padding: 0.5rem 2rem;
  border-radius: 10px;
  color: #f9faf8;
  font-weight: bolder;
  font-size: 18px;
}

button:hover {
  cursor: pointer;
  background-color: #3881f6c4;
}

header,
#hero,
footer {
  background: #1f2937;
}

#features,
#testimonials,
#signup {
  padding-top: 95px;
}

header,
#hero,
.container,
footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  margin-top: 5rem;
  gap: 3rem;
}

/******************************  Header  ***************************************/
header {
  position: fixed;
  top: 0;
  width: 100%;
  gap: 10rem;
  padding: 1.5rem;
  justify-content: space-around;
}

.logo {
  font-size: 24px;
  display: flex;
  color: #f9faf8;
}

.logo img {
  width: 24px;
}

ul {
  display: flex;
  list-style-type: none;
  gap: 2rem;
}

a {
  text-decoration: none;
  font-size: 18px;
  color: #e5e7eb;
}

a:hover {
  color: #e5e7ebce;
}

/**************************  Hero Section  *************************************/
#hero {
  padding-top: 76px;
  min-height: 92vh;
  gap: 3rem;
}

#hero .text {
  max-width: 33%;
}

.main-text {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
  line-height: 1;
}

.secondary-text {
  font-size: 18px;
  color: #e5e7eb;
  margin: 1rem 0;
}

.hero-img {
  max-width: 33%;
}

.hero-img img {
  max-width: 100%;
}

/************************  Features Section  ***********************************/
#features {
  min-height: 85vh;
}

.feature {
  max-width: 15%;
  text-align: center;
}

i {
  font-size: 3rem;
  color: #3882f6;
}

.feature h3 {
  margin: 1rem 0 0.5rem;
}

.feature .text p {
  color: #555;
}

/**************************  Testimonial Section  ******************************/
#testimonials {
  min-height: 95vh;
  background: #e5e7eb;
}

.testimonial {
  max-width: 15%;
}

.testimonial .text {
  color: #555;
  font-style: italic;
  font-size: 300;
  line-height: 1.4;
}

.user-info {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.user-info img {
  flex-shrink: 0;
  max-width: 20%;
  border-radius: 50%;
}

.user-info .name {
  font-size: 15px;
  font-weight: 500;
}

.user-info .designation {
  font-size: 13px;
  color: #555;
}

/*****************************  Signup Section  *********************************/
#signup {
  min-height: 60vh;
}

#signup .container {
  justify-content: space-around;
  background: #3882f6;
  padding: 3rem;
  max-width: 70%;
  margin: auto;
  border-radius: 10px;
  gap: 3rem;
}

#signup .text h2 {
  color: #f9faf8;
  margin-bottom: 0.5rem;
}

#signup .text p {
  color: #f9faf8;
}

#signup button {
  border: 2px solid #f9faf8;
}

#signup button:hover {
  border-color: #f9faf894;
}

/********************************  Footer  ************************************/
footer {
  padding: 2rem;
  color: #e5e7eb;
  word-spacing: 0.1rem;
  letter-spacing: 0.1rem;
}
